- var path = '../'
- var title = 'cqrs - eventdenormalizer'
!!! 5
html(lang="en")
  head
    include ../includes/layout/head

  body
    include ../includes/layout/header
          
    include ../includes/layout/content
      .documentation
        .row-fluid
          .span8
            .hero-unit
              h2 
                | cqrs-eventdenormalizer
                //- small  - translation made easy
              p cqrs-eventdenormalizer  is a node.js module that implements the cqrs pattern. It can be very useful as eventdenormalizer component if you work with (d)ddd, cqrs, domain, host, etc.

          .span4.downloads
            p node.js:
            pre
              code
                | npm install cqrs-eventdenormalizer

            p
              | Build status: 
              a(href='http://travis-ci.org/adrai/node-cqrs-eventdenormalizer')
                img(src='https://secure.travis-ci.org/adrai/node-cqrs-eventdenormalizer.png')

            .alert.alert-info.feature-description(style='margin-top: 25px;')
                a(href='https://github.com/adrai/node-cqrs-eventdenormalizer')
                  i.icon-github
                  |  fork me on github
                br
                a(href='https://github.com/adrai/node-cqrs-eventdenormalizer/issues')
                  i.icon-github
                  |  issues

        .row-fluid
          .span12
            h2 Initialization

            .row-fluid
              .span4
                h4.feature-title Require

              .span8
                .feature
                  pre
                    code
                      | var eventDenormalizer = require('cqrs-eventdenormalizer').eventDenormalizer;

            .row-fluid
              .span4
                h4.feature-title Register for events

              .span8
                .feature
                  pre
                    code
                      | eventDenormalizer.on('event', function(evt) {
                      |     // send to client, or host...
                      | });

                  .alert.alert-info.feature-description
                    h6 Important hint:
                    p The event has these properties: id, event, payload and head(with actual aggregate revision).

            .row-fluid
              .span4
                h4.feature-title Configure and initialize

              .span8
                .feature
                  pre
                    code
                      | eventDenormalizer.initialize({
                      |     viewBuildersPath: __dirname + '/viewBuilders',
                      |     extendersPath: __dirname + '/eventExtenders',
                      |     eventQueue: {                                   // optional
                      |         type: 'mongoDb',                            // example with mongoDb
                      |         dbName: 'myDb',
                      |         collectionName: 'events',                   // optional
                      |         host: 'localhost',                          // optional
                      |         port: 27017,                                // optional
                      |         username: 'user',                           // optional
                      |         password: 'pwd'                             // optional
                      |     },
                      |     repository: {                                   // optional
                      |         type: 'mongoDb',                            // example with mongoDb
                      |         dbName: 'myDb',
                      |         host: 'localhost',                          // optional
                      |         port: 27017,                                // optional
                      |         username: 'user',                           // optional
                      |         password: 'pwd'                             // optional
                      |     },
                      |     revisionGuardStore: {                           // optional
                      |         type: 'mongoDb',                            // example with mongoDb
                      |         dbName: 'myDb',
                      |         collectionName: 'revisionguard',            // optional
                      |         host: 'localhost',                          // optional
                      |         port: 27017,                                // optional
                      |         username: 'user',                           // optional
                      |         password: 'pwd'                             // optional
                      |     },
                      |     ignoreRevision: false,                          // optional
                      |     disableQueuing: false,                          // optional
                      |     revisionGuardQueueTimeout: 3000,                // optional
                      |     revisionGuardQueueTimeoutMaxLoops: 3            // optional
                      | }, function(err) {
                      |     // ready...
                      | });

            .row-fluid
              .span4
                h4.feature-title denormalize events

              .span8
                .feature
                  pre
                    code
                      | eventDenormalizer.denormalize({ id: 'msgId', event: 'dummyCreated', payload: { id: '23445' } }, function(err) {
                      |     // saved in event queue...
                      | });

                  .alert.alert-info.feature-description
                    h6 Important hint:
                    p The event must have the properties: id, event and payload.

        .row-fluid
          .span12
            h2 Components

            .row-fluid
              .span4
                h4.feature-title View Builder

              .span8
                .feature
                  pre
                    code
                      | var base = require('cqrs-eventdenormalizer').viewBuilderBase;
                      | 
                      | module.exports = base.extend({
                      |   
                      |   events: [
                      |     'dummied',
                      |      {
                      |          event: 'dummyCreated',
                      |          method: 'create',
                      |          viewModelId: 'payload.id'
                      |      },
                      |      {
                      |          event: 'dummyChanged',
                      |          method: 'update',
                      |          payload: 'payload'
                      |      },
                      |      {
                      |          event: 'dummyDeleted',
                      |          method: 'delete'
                      |      },
                      |      'dummySpezi',
                      |      'somethingFlushed'
                      |   ],
                      |  
                      |   collectionName: 'dummies',
                      |  
                      |   dummied: function(data, vm, evt) {
                      |   },
                      |  
                      |   dummySpezi: function(data, vm, evt) {
                      |     vm.otherValue = 'value';
                      |   },
                      |  
                      |   somethingFlushed: function(data, vm, evt) {
                      |   }
                      |  
                      | });

                  .alert.alert-info.feature-description
                    h6 Important hint:
                    p Save the view builder in the viewBuilders folder.
                    p If you want to do default actions like "create", "update" or "delete" use define the events in an object.

            .row-fluid
              .span4
                h4.feature-title Event extenders

              .span8
                .feature
                  pre
                    code
                      | var base = require('cqrs-eventdenormalizer').eventExtenderBase;
                      | 
                      | module.exports = base.extend({
                      |   
                      |     events: ['dummied', 'dummyCreated', 'dummyChanged', 'dummyDeleted'],
                      |     collectionName: 'dummies',
                      |
                      |     defaultAction: function(evt, aux, callback) {
                      |         callback(null, evt);
                      |     },
                      |
                      |     dummyCreated: function(evt, aux, callback) {
                      |         callback(null, evt);
                      |     },
                      | 
                      | });

                  .alert.alert-info.feature-description
                    h6 Important hint:
                    p Save the event extender in the extenders folder.
                    p If there is not a concrete function for the event then the defaultActio function will be called.

        .row-fluid
          .span12
            h2 Replay

            .row-fluid
              .span4
                h4.feature-title handle missing event

              .span8
                .feature
                  pre
                    code
                      | eventDenormalizer.on('eventMissing', function(aggregateId, aggregateRevision, eventRevision, evt) {
                      |   console.log(aggregateId, aggregateRevision, eventRevision, evt);
                      | });

            .row-fluid
              .span4
                h4.feature-title replay

              .span8
                .feature
                  pre
                    code
                      | eventDenormalizer.replay([] /* array of ordered events */, function(err) {});

            .row-fluid
              .span4
                h4.feature-title replay streamed

              .span8
                .feature
                  pre
                    code
                      | eventDenormalizer.replayStreamed(function(replay, done) {
                      |   replay(evt1);
                      |   replay(evt2);
                      |   replay(evt3);
                      |   done(function(err) { });
                      | });

        .row-fluid
          .span12
            h2 Settings for a scalable solution

            .row-fluid
              .span4
                h4.feature-title Settings

              .span8
                .feature
                  pre
                    code
                      | {
                      |   viewBuildersPath: __dirname + '/viewBuilders',
                      |   extendersPath: __dirname + '/eventExtenders',
                      |   eventQueue: { type: 'inMemory', collectionName: 'events' },
                      |   repository: {
                      |     type: 'mongoDb',
                      |     dbName: 'mydb',
                      |     timeout: 60 * 1000
                      |   },
                      |   revisionGuardStore: {
                      |     type: 'mongoDb',
                      |     dbName: 'mydb',
                      |     collectionName: 'revisionguard',
                      |     timeout: 60 * 1000
                      |   },
                      |   ignoreRevision: false,
                      |   disableQueuing: false,
                      |   revisionGuardQueueTimeout: 3000,
                      |   revisionGuardQueueTimeoutMaxLoops: 3
                      | }


    include ../includes/layout/extra
      
    include ../includes/layout/footer
    
    include ../includes/layout/endscripts