- var path = ''
- var version = '1.5.5'
!!! 5
html(lang="en")
  head
    include includes/layout/head

  body
    include includes/layout/header
          
    include includes/layout/content
      .row-fluid
        .span12
          .hero-unit
            h1#n1 ⚠️ IMPORTANT NEWS! 📰
            p
              | I’ve been dealing with CQRS, event-sourcing and DDD long enough now that I don’t need working with it anymore unfortunately, so at least for now this my formal farewell!
            p
              | I want to thank everyone who has contributed in one way or another.
              | Especially...
            ul
              li
                a(href='https://github.com/jamuhl') Jan
                | , who introduced me to this topic.
              li
                a(href='https://github.com/nanov') Dimitar
                | , one of the last bigger contributors and maintainer.
              li
                | My last employer, who gave me the possibility to use all these CQRS modules in a big Cloud-System.
              li My family and friends, who very often came up short.
            p
              | Finally, I would like to thank 
              a(href='https://github.com/goloroden') Golo Roden
              | , who was there very early at the beginning of my CQRS/ES/DDD journey and is now here again to take over these modules.
            p
              | Golo Roden is the founder, CTO and managing director of 
              a(href='https://www.thenativeweb.io/') the native web
              | , a company specializing in native web technologies. Among other things, he also teaches CQRS/ES/DDD etc. and based on his vast knowledge, he brought wolkenkit to life.
            p
              a(href='https://wolkenkit.io') wolkenkit
              |  is a CQRS and event-sourcing framework based on Node.js. It empowers you to build and run scalable distributed web and cloud services that process and store streams of domain events.
            p
              | With this step, I can focus more on 
              a(href='https://www.i18next.com') i18next
              | , 
              a(href='https://locize.com') locize
              |  and 
              a(href='https://localistars.com') localistars
              | . I'm happy about that. 😊
            p So, there is no end, but the start of a new phase for my CQRS modules. 😉
            p I wish you all good luck on your journey.
            p
              | Who knows, maybe we'll meet again in a github issue or PR at 
              a(href='https://github.com/i18next/i18next') i18next
              |  😉
            p
              a(href='https://twitter.com/adrirai') Adriano Raiano
            hr

      .row-fluid
        .span12
          .hero-unit
            h2 
              | cqrs
              small  - documentation for cqrs modules and libraries

        .row-fluid
          .span12
            a(href='https://github.com/adrai/cqrs-sample')
              h2
                i.icon-github
                |  Check out the sample!

    include includes/layout/extra
      
    include includes/layout/footer
    
    include includes/layout/endscripts