- var path = ''
- var version = '1.5.5'
!!! 5
html(lang="en")
  head
    include includes/layout/head

  body
    include includes/layout/header
          
    include includes/layout/content
      .row-fluid
        .span12
          .hero-unit
            h2 
              | cqrs
              small  - documentation for cqrs modules and libraries

    include includes/layout/extra
      
    include includes/layout/footer
    
    include includes/layout/endscripts